 @media screen and (min-width: 768px) {
  .register-form{
    text-align: center;
  }

  h4{
    margin: 10px;
    padding-bottom: 8%;
    font-size: medium;
  }

  .lable-form{
    margin-right: 3%;
  }

  .enter{
    width: 95%;
    margin: 0 auto;
    margin-left: 0 3%;
    margin: 0;

  }

  #app{
    /* box-sizing: border-box; */
    width: 45%;
    padding: 3% 0 4% 0;
    /* display: block; */
    margin: 0 auto;
    /* border: 1px solid #fff; */
    position: relative;
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    /* background-color: #fff; */
  }
  
  p{
    position: static;
    left: 4%;
    bottom: 4%;
  }
}

.title-signup-form{
  /* margin-bottom: 2%; */
  font-size: 65px;
  font-weight: 700;
  font-style: italic;
  /* font-family: 'Poppins'; */
  background: -webkit-linear-gradient(#FDC830, #F37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .register-form{
    display: block;
    margin-left: auto;
  }
  
  .enter{
    margin-left: 10px;
  }
  
  .btn-signup{
    color: #fff;
    background-color: #fc4a1a;
    border: none
  }
  
  /* .btn-signup:hover{
    color: #12c2e9;
  } */

  h4{
    font-size: medium;
    margin-bottom: 5%;
  }
}

#data{
  display: flex;
  padding-left: 5px;
  width: 88%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

label.lable-form{
  text-align: left;
}

label.form-check-label{
  margin-left: 10px;
}

i{
  margin-top: 10px;
}


a:hover{
  color:  rgba(0, 0, 0, 0.6);
}

.chooserole{
  margin-left: 20px;  
}

.animation-title-regis span {
  position: relative;
  font-weight: 600;
  font-size: 250%;
}

.animation-title-regis span::before{
  content: "REGISTER";
  color:#fc8f1a;
}

.animation-title-regis span::after{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #fc8f1a;
  right: -6px;
  animation: cursor 18s infinite;
}

@keyframes cursor {
  to{
    border-left: 2px solid #fc4a1a00;
  }

  0%, 80%, 100%{
    width: 0;
  }
  50%, 90%{
    width: 100%;
  }
}
