.Login-btn{
    position: relative;
   width: 100px;
   height: 45px;
   
   
   border: solid ;
   border-color: black;
   border-width: 1px;
}
.Login-section{

    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.Login-btn:hover{
    background-color: rgba(229, 228, 228, 0.863);
}