
.user {
  position: relative;
  cursor: pointer;
}

/* .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
} */

.dropdown {
  position: absolute;
  top: 40px; 
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* min-width: 150px; */
  z-index: 1000;
  padding: 20px;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f1f1f1;
}

.learner-name {
  width: 200px;
  height: 50px;
}
