body {
    width: 100%;
}
.Login-section{
    position: relative;
   width: 100px;
   height: 40px;
   border: solid ;
   border-color: black;
   border-width: 1px;
}

#Login-section{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.Login-section:hover{
    background-color: rgba(229, 228, 228, 0.863);
}

#Login-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.topic{
    font-size: 30px;
}

#dropmenu {
    position: relative;
    display: inline-block;
  }

#dropmenu:hover .dropcontent{
    display: block;
}
.p-2{
    position: relative;
    display: flex;
    gap: 30px;
    width: 100%;
}
.p-2 ul{
    display: flex;
    gap: 30px;
}
.drop-down-inf{
    position: absolute;
    top: 0;
  
  right:0; 
  bottom: 0;
}
.p-2 li {
  
  display: flex;
  align-items: center;
  width: 150px;
}
.learner-name{
  width: 10px;
}
.p-2 ul a {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-item {
  margin-left: 30px;
}
.courses-list-top h1,
p {
  font-style: italic;
  /* text-align: center; */
}
.courses-list-top {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .navbar-collapse {
  position: absolute;
  bottom: 0px;

  right: 0px;
}
.container {
  position: relative;
} */
.rating-box{
  width: 800px;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 50px;
}
.rating-box textarea{
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  width: 800px;
  height: 200px;
}
.stars{
  padding-bottom: 20px;
  margin-top: 10px;
}
