.blog-tab-body{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.post-body{
    padding: 10px;
    width: 300px;
    /* border-style: solid;
    border-width: 1px; */
    border-color: grey;
}
.blogs-list-top{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
.blogs-list-top h4{
    font-size: 40px;
    
}

.cate-title h2{
    font-size: 25px;
    font-style: italic;
    padding: 10px;
}

.show-all{

    margin-left: 90%;
    
}
.blogs-list-body{
    margin-top: 20px;
}
.dataComponent{
    display: flex;
}
.post-carousel{
    margin: 0 auto;
}
.scroll-post{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}
.post-container{
    transition: transform 0.5s ease;
}