.category-item-img{
    img{
      max-width: 110px;
    }
  }
  .category-item-name{
    margin-top: 24px;
    h6{
      font-size: 15px;
    }
  }
  .CategoryItemWrapper{
    padding: 20px;
    border: 1px solid transparent;
    transition: var(--transition);
    &:hover{
    border: 1px solid var(--clr-purple);
    }
  }
  .categories-list-top{
    margin-bottom: 32px;
  }
  .categories-list{
    gap: 32px;
  }
  @media screen and (min-width: 600px){
    .categories-list{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 800px){
    .categories-list{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 992px){
    .categories-list{
      grid-template-columns: repeat(4, 1fr);
    }
  }