/* App.css */
/* Your other CSS styles here */

/* Include the Google Fonts CSS link */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


  /* .main-section{
    display: flex;  
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 71px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-width: 2px;
    display: flex;
    gap: 8%;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 5% 0;
    margin: 2%;
} */

/* .Login-section{
  width: 25%;
}


  .imgDescription{
    border-radius: 20px;
    margin-left: 40px;
  }
  .imgDescription img{
      width: 100%;
      border-radius: 40px;
  }

  .social-sign-in{
    display: flex;
    width: 23%;
  }

  .btn-google, .btn-twitter, .btn-github{
    background-color: white;
    color: white;
    width: 120%;
    height: 45px;
    border-style: solid;
    border-width: 2PX;
    border-color: #dedada;
    border-radius: 7px;
    margin-right: 50%;

  }

  .btn-google img{
    
    width: 45px;
    margin: auto;
  }

  .btn-twitter img{
    width: 50px;
    margin: auto;
  }

  .btn-github img{
    width: 35px;
    margin: auto;
  }

  .form-group input{
    height: 40px;
    width: 70%;
    margin-bottom: 10px;
  }

  hr{
    width: 75%;
    margin: 15px 0;
  }

  .login-button{
    border: 1px solid;
    padding: 2px 5px;
    border-radius: 7px;
    font-size: 16px;
    display: block;
    margin-left: 30%;
    transition: all .4s ease-in-out;
  }

  .login-button:hover{
    color: #12c2e9;
    transition: all .3s ease-in-out;
    width: 80px;
  }

  .form-check{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .forget-pass a{
    text-decoration: underline;
  }

  .forget-pass a:hover{
    color: #12c2e9;
    text-decoration: none;
  } */



.role-select{
  justify-content: center;
}

.login-form{
  margin: 0 auto;
  height: 100%;
  /* border: 1px solid #000; */
  width: 70%;
  margin-top: 5%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.loginbtn{
  border: 1px solid #000;
  border-radius: 20px;
  width: 15%;
  margin-top: 3%;
}

.loginbtn:hover{
  transition: .4s ease-in-out;
  background-color: #fc4a1a;
  color: #fff;
  width: 20%;
  border: none;
  border-radius: 20px;
}

.title-login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fd6a41; */
  /* color: #fff; */
  width: 82%;
  height: 65px;
  font-weight: 600;
  font-style: italic;
  font-size: 280%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* margin-bottom: 20px; */
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  background: -webkit-linear-gradient(#fc4a1a, #fd6a41);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-signup {
  color: #fc8f1a;
}

.animation-title span {
  position: relative;
  font-weight: 600;
  font-size: 250%;
}

.animation-title span::before{
  content: "WELCOME BACK";
  color: #fc8f1a;
}

.animation-title span::after{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #fc8f1a;
  right: -8px;
  animation: cursor 18s infinite;
}

@keyframes cursor {
  to{
    border-left: 2px solid #fc4a1a00;
  }

  0%, 80%, 100%{
    width: 0;
  }
  50%, 90%{
    width: 100%;
  }
}
