.footer{
    background-color: #000;
    color: #fff;
    margin-top: 5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 3%;
    position: unset;
    /* bottom: 0; */
}

div.col{
    margin-top: 8px;
    font-size: smaller;
}

div.col a{
    color: #fff;
}

div.col a:hover{
    text-decoration: underline;
}

.signed{
    margin-top: 3%;
    font-size: 40px;
}